name: double
on: [push, pull_request]
jobs:
  singularity:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cvmfs-contrib/github-action-cvmfs@v3
      with:
        cvmfs_repositories: 'singularity.opensciencegrid.org'
    - uses: ./
      with:
        platform-release: "jug_xl:nightly"
        run: |
          gcc --version
          which gcc
          eic-info
    - uses: ./
      with:
        platform-release: "jug_xl:nightly"
        run: |
          gcc --version
          which gcc
          eic-info
