name: network-none
on: [push, pull_request]
jobs:
  singularity:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cvmfs-contrib/github-action-cvmfs@v3
      with:
        cvmfs_repositories: 'singularity.opensciencegrid.org'
    - uses: ./
      with:
        platform-release: "jug_xl:nightly"
        network_types: "none"
        run: |
          if ping -c 1 8.8.8.8 ; then
            false
          else
            true
